.input-section{
    padding-top: 2rem;
    margin: 0;
    }
    
    .input{
        width: 45%;
        height:3rem;
        margin: 0 0rem 2rem 6rem;
        border-radius:0.3rem;
        border: 1px solid lightgray;
        padding-left: 1rem;
        font-size: 1rem;
        margin-left: 12rem;
       
    }
    .input:focus {
        outline:none;
    }
    
    @media (max-width: 600px) {
     
        .input {
            width:100%;
        }
    
    
      }
      
      @media screen and (max-width: 900px) {
        .input {
         width: 60%;
          margin:0rem 1rem 1rem 2rem;
        }
      }